* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}

header {
    background-image:url(../../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    width: 100vh;
   
}